openai
openai-whisper
Pillow
python-dotenv
chromadb
easyocr
PyMuPDF
ipywidgets
langsmith
numpy
pandas
sounddevice
yt_dlp
fastapi
uvicorn
langchain
whisper
langchain-community
pydantic
requests
python-multipart
fastapi==0.116.1
uvicorn==0.35.0
python-dotenv
openai
openai-whisper
yt-dlp
langchain==0.3.27
langchain-community==0.3.27
chromadb
pydantic
python-multipart
Jinja2
requests
scikit-image
Pillow

